
:root {
    --primary-color: #FF4081;
    --secondary-color: #FFC107;
    --background-color: #f0f0f0;
    --text-color: #333;
    --white: #fff;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background-color);
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.1'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

main {
    width: 90%;
    max-width: 500px;
}

lotto-generator {
    display: block;
    background: var(--white);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}
